:root {
    --fonte-familia-corpo: 'Montserrat', sans-serif;
    --fonte-familia-logo: 'Outfit', sans-serif;

    --fonte-peso-input: 300;

    --fonte-tamanho-logo: 28px;
    --fonte-tamanho-cartao-titulo: 28px;
    --fonte-tamanho-input-label: 20px;
    --fonte-tamanho-botao: 22px;
    --fonte-tamanho-formulario-fieldset: 22px;
    --fonte-tamanho-tabela-cabecalho: 22px;
    --fonte-tamanho-modal-titulo: 28px;
    --fonte-tamanho-modal-botao: 28px;

    --cor-primaria: #0071ea;
    --cor-secundaria: #d6eaff;
    --cor-contraste-escuro: #E6EDF3;
    --cor-contraste-claro: #fff;
    --cor-aviso: #df2525;
    --cor-sucesso: #047900;
    --cor-transparencia: #4d4d4d33;

    --sombra: 0 5px 10px #55a6ff38;
}

@media(min-width: 800px) {
    :root {
        --fonte-tamanho-logo: 56px;
    }
}

body {
    background-image: url("assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--cor-contraste-escuro);
    font-family: var(--fonte-familia-corpo);
    overflow-x: hidden;
}

.logo {
    width: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
    

}

@media(min-width: 800px) {
    .container {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

@media(min-width: 1200px) {
    .container {
        padding-left: calc((100vw - 900px)/2);
        padding-right: calc((100vw - 900px)/2);
    }
}

.section {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 100%;
    max-width: 90rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: rgba(20, 40, 80, 0.35);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 10px;
}

.botao {
    background: linear-gradient(135deg,
            rgba(77, 163, 255, 0.35),
            rgba(30, 60, 114, 0.35));

    border-radius: 8px;
    padding: 0.9rem 2.2rem;
    color: var(--cor-contraste-claro);
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.25),
        inset 0 1px rgba(255, 255, 255, 0.2);
    transition: all 0.25s ease;
    backdrop-filter: blur(10px);
}

#botaoCancelar {
    background: linear-gradient(135deg, #ef4444, #dc2626, #991b1b);
    color: white;
    border: none;
    padding: 0.9rem 2.2rem;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao:hover {
    transform: translateY(-2px);

    background: linear-gradient(135deg,
            rgba(77, 163, 255, 0.55),
            rgba(30, 60, 114, 0.55));

    box-shadow:
        0 8px 25px rgba(0, 0, 0, 0.4);
}

.exportar-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.botao-exportar {
    background: linear-gradient(135deg,
            rgba(74, 222, 128, 0.45),
            rgba(22, 163, 74, 0.35));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.botao-exportar:hover {
    background-color: #047900;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.titulo-section {
    font-size: var(--fonte-tamanho-cartao-titulo);
    margin-bottom: 1rem;
}

.cadastro-cabecalho {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.logo {
    width: 2.625rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

@media(min-width: 800px) {
    .logo {
        width: 5.75rem;
        margin-bottom: 1rem;
    }

    .titulo {
        margin-bottom: 2rem;
    }
}

.formulario {
    margin-top: 2rem;
}

.formulario-legenda {
    font-size: var(--fonte-tamanho-formulario-fieldset);

    margin-bottom: 1rem;
}

.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}


.input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
    border: 1px solid #dbeafe;
    border-radius: 8px;
    transition: all 0.2s ease;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);

    transition: all .25s;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid var(--cor-aviso);
    border-radius: 7px;
}

.input-container--invalido .input-label {
    color: var(--cor-aviso);
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background: rgba(20, 40, 80, 0.35);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
}

thead {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

th,
td {
    padding: 12px 14px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #e2e8f0;
    transition: all 0.15s ease;

}

tbody tr:hover {
    background: #f8fafc;

}

td:last-child {
    display: flex;
    gap: 8px;
}

table {
    min-width: 700px;
}

.section {
    overflow-x: auto;
}

.titulo {
    font-family: var(--fonte-familia-logo);
    font-size: 2rem;
    letter-spacing: 1px;
    color: #E6EDF3;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    padding: 0;
}

tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.02);
}

td button {
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.25),
        inset 0 1px rgba(255, 255, 255, 0.2);
}

.botao-editar {
    background: linear-gradient(135deg,
            rgba(96, 165, 250, 0.45),
            rgba(37, 99, 235, 0.35));
    color: white;
}

.botao-editar:hover {
    background-color: #0832ec;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.botao-excluir {
    background: linear-gradient(135deg,
            rgba(248, 113, 113, 0.45),
            rgba(220, 38, 38, 0.35));
    color: white;
}

.botao-excluir:hover {
    background-color: #dd1313;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

td button:active {
    transform: scale(0.95);
}

td:last-child {
    display: flex;
    gap: 8px;
    justify-content: center;
}